*{
    margin:0;
    padding:0;
    font-family: "Roboto";
}

/* header navbar */

.header{
    background-color: #1F2937;
    padding:15px;
}

.nav{
    display:flex;
    justify-content: space-between;
}

.nav h1{
    font-size: 24px;
    color:#F9FAF8;
    margin-left: 164px;
}

.nav ul{
    margin-right: 155px;
}

.nav li{
    display: inline;
    list-style-type:none;
    padding:10px;
}

.nav li a{
    text-decoration:none;
    color:#E5E7EB;
    font-size: 18px;
}

/* header hero */

.hero{
    display:flex;
    justify-content: center;
    margin: 100px 0px;
}

.hero h1{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}

.hero p{
    color:#E5E7EB;
    font-size: 18px;
}

.hero button{
    margin-top: 5px;
    padding:5px;
    background-color: #3882F6;
    border:none;
    border-radius: 5px;
    color:#F9FAF8;
    text-align: center;
    font-weight: bold;
    padding:8px 30px;
}

.left{
    height: 220px;
    width: 450px;
    margin-right: 50px;
}


.right{
    background-color: #6e737c;
    height: 220px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* information */
.information h1{
    font-size: 36px;
    color:#1F2937;
    text-align: center;
    margin:50px;
}

.information p{
    color:#6e737c;
    font-size: 17px;
    text-align: center;
}

.information_content{
    display:flex;
    justify-content: center;
}
.information_item{
    margin: 0px 30px;
    width: 160px;
}
.box{
    border: 5px solid #3882F6;
    border-radius: 10px;
    height: 160px;
    width: 160px;
    margin-bottom: 5px;
}

/* Quote */

.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    margin-top:100px;
}

.quote_content{
    margin:100px;
    width: 800px;
}
.quote_text{
    font-size: 36px;
    color:#6e737c;
    text-align: justify;
    font-style: italic;
}

.quote_author{
    margin-top:10px;
    color:#1F2937;
    float:right;
}